<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Asignaciones de Perfiles</title>
<!-- Bootstrap CSS -->
<link href="../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}">
</head>
<body>
	<div class="container">
		<br />
		<div>
			<a href="/saveAsigPerfil/0" class="btn btn-primary">Agregar</a>
			<button class="btn btn-success  float-right" >
				<a th:href="@{/admin}" style="color:#FFFFFF">Regresar al menu</a>
			</button>
		</div>
		<br />
		<h3 th:if="${list.isEmpty()}">No hay registros todavía</h3>
		<div th:if="${!list.isEmpty()}">
			<h2>Perfiles Asignadas</h2>
			<hr />
			<table class="table">
				<thead>
					<tr>
						<th>Usuario</th>
						<th>Perfil</th>

						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="per : ${list}">
						<td th:text="${per.id_registro}">
						<td th:text="${per.id_perfil}">
						
						<td><a
							th:href="@{/saveAsigPerfil/{id}(id=${per.id_asig_perfil})}"
							class="btn btn-info">Actualizar</a></td>
						<td><a
							th:href="@{/deleteAsigPerfil/{id}(id=${per.id_asig_perfil})}"
							class="btn btn-warning">Eliminar</a></td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
</body>
</html>