<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Administracion de Turnos</title>
<!-- Bootstrap CSS -->
<link href="../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}">
</head>
<body>
	<div class="container">
		<hr>
		<div>
			<a href="/saveDiasTurnos/0" class="btn btn-primary">Agregar Turno</a>
		</div>

		<br>
		<h3 th:if="${list.isEmpty()}">No hay registros todavía</h3>
		<div th:if="${!list.isEmpty()}">
			<h2>Turnos</h2>
			<hr />
			<table class="table">
				<thead>
					<tr>
						<th>Turnos Registradas</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="tur : ${list}">
						<td th:text="${tur.dia}">
						<td><a th:href="@{/saveDiasTurnos/{id}(id=${tur.id_dia})}"
							class="btn btn-info">Actualizar</a></td>
						<td><a th:href="@{/deleteDiasTurnos/{id}(id=${tur.id_dia})}"
							class="btn btn-warning">Eliminar</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>