<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Administracion de Roles</title>
<!-- Bootstrap CSS -->
<link href="../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}">
</head>
<body>
	<div class="container">
		<br>
		<hr>
		<h2>Nueva Rol</h2>
		<hr />
		<form action="#" th:action="@{/saveRoles}" th:object="${auth}"
			method="post">

			<div class="form-group">
				<label for="id">Codigo</label> <input type="text" th:field="*{id}"
					name="id" id="id" class="form-control" />
			</div>
			<div class="form-group">
				<label for="authority">Rol</label> <input type="text" id="authority"
					name="authority" th:field="*{authority}" class="form-control" />
			</div>
			<button type="submit" class="btn btn-success">Guardar Rol</button>
		</form>
	</div>
</body>
</html>